body{
  background-color: rgb(208, 208, 208);
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  margin-top: 6%;
  color: white;
  margin-left: 17%;
  position: absolute;
  font-size: 2.5em;
} 
figcaption{
  text-align: center;
  font-size: 1.5em;
  height: 50px;
  color: white;
  padding-top:15px;
  border: 2px white solid;
}

figure{
  align-items: center;
}

img{
  min-width: 640px;
  max-height: 390px;
  display: block;
  box-shadow:2px 2px 50px -15px  black;
  border: 2px solid white;
  margin-top: 29%;
  transition: ease-in-out 0.8s;
}

button{
  border-radius: 50%;
  background-color: rgb(188, 188, 188);
  width: 50px;
height: 50px;
border:2px solid white;
margin-top: 22%;
font-size: 1.5em;
color: white;
}

.ButtonRight{
  color: black;
  
}

